.form__button {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: #fff;
  font-family: open-sans, sans-serif;
  color: #294057;
  font-size: 16px;
  font-weight: 500;
  border: none;
}

.form__button:hover {
  background: #b99867;
  color: #fff;
  transition: 0.5s;
}