.home-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 700px 200px 260px 120px 194px repeat(2, 640px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
  
.home-page__bckgr { 
  grid-area: 1 / 1 / 2 / 3; 
  box-sizing: border-box;
}

.home-page__header { 
  grid-area: 2 / 1 / 3 / 3; 
  text-align: center;
  font-family: open-sans, sans-serif;
  font-size: 40px;
  color: #295057;
  padding-top: 100px;
}

.home-page__item {
  grid-area: 3 / 1 / 4 / 3; 
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: 325px;
}

          .item-1 { 
            grid-area: 1 / 1 / 2 / 2; 
            box-sizing: border-box;
            width: 300px;
          }

          .item-2 { 
            grid-area: 1 / 2 / 2 / 3; 
            box-sizing: border-box;
            width: 300px;
          }

          .item-3 { 
            grid-area: 1 / 3 / 2 / 4; 
            box-sizing: border-box;
            width: 300px;
          }

.home-page__btn { 
  grid-area: 4 / 1 / 5 / 3; 
  width: 226px;
  height: 50px;
  background: #fff;
  font-family: open-sans, sans-serif;
  font-size: 16px;
  border: 2px solid #294057;
  color: #b99867;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  padding-top: 12px;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.home-page__btn:hover { 
  grid-area: 4 / 1 / 5 / 3; 
  background: #294057;
  font-family: open-sans, sans-serif;
  font-size: 16px;
  color: #fff;
  transition: .6s;
}

.home-page__text-block { 
  grid-area: 5 / 1 / 6 / 3; 
  width: 100%;
  height: 194px;
  background: #294057;
}

.home-page__text {
  width: 460px;
}

.quotes {
  font-family: open-sans, sans-serif;
  font-size: 60px;
  color: #b99867;
  padding: 0;
  margin: 0;
  text-align: center;
}

.text {
  font-family: open-sans-italic, sans-serif;
  font-size: 24px;
  color: #fff;
  margin: 0;
  text-indent: 5px;
}

.home-page__about-1 { 
  grid-area: 6 / 1 / 7 / 2; 
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 220px 240px 180px;
}

        .home-page__about-head { 
          grid-area: 1 / 1 / 2 / 2; 
          font-family: open-sans, sans-serif;
          font-size: 40px;
          color: #b99867;
          padding-left: 330px;
          padding-top: 100px;
        }

        .home-page__about-txt { 
          grid-area: 2 / 1 / 3 / 2; 
          width: 330px;
          height: 210px;
          font-family: open-sans, sans-serif;
          font-size: 15px;
          color: #605e5e;
          text-align: left;
          padding-left: 330px;
        }

        .btn-container {
          padding-left: 330px;
        }

        .home-page__about-btn { 
          grid-area: 3 / 1 / 4 / 2; 
          width: 163px;
          height: 50px;
          background: #fff;
          font-family: open-sans, sans-serif;
          font-size: 16px;
          border: 2px solid #294057;
          justify-content: center;
          box-sizing: border-box;
          cursor: pointer;
          transition: .6s;
        }

        .home-page__about-btn:hover { 
          grid-area: 3 / 1 / 4 / 2; 
          background: #294057;
          font-family: open-sans, sans-serif;
          font-size: 16px;
          color: #fff;
        }


.home-page__img-1 { 
  grid-area: 6 / 2 / 7 / 3; 
  background: url("https://static.wixstatic.com/media/1e47b2_2884f92ba82147cebac59535f41cd77c.jpg/v1/fill/w_1583,h_640,al_c,q_85/1e47b2_2884f92ba82147cebac59535f41cd77c.webp");
  /* background-repeat: no-repeat; */
  background-position: 100%;
}

.home-page__img-2 { 
  grid-area: 7 / 1 / 8 / 2; 
  background: url("https://static.wixstatic.com/media/1e47b2_c0ca012cf5f74450ac716b0f0880a060.jpg/v1/fill/w_1260,h_640,al_c,q_85/1e47b2_c0ca012cf5f74450ac716b0f0880a060.webp");
  /* background-repeat: no-repeat; */
  background-position: 100%;

}

.home-page__about-2 { 
  grid-area: 7 / 2 / 8 / 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 280px 170px 200px;
}

        .home-page__about-2-head { 
          grid-area: 1 / 1 / 2 / 2; 
          font-family: open-sans, sans-serif;
          width: 381px;
          font-size: 40px;
          color: #294057;
          padding-left: 105px;
          padding-top: 100px;
        }

        .home-page__about-2-txt { 
          grid-area: 2 / 1 / 3 / 2; 
          width: 330px;
          height: 210px;
          font-family: open-sans, sans-serif;
          font-size: 15px;
          color: #605e5e;
          text-align: left;
          padding-left: 105px;
        }

        .btn-container-2 {
          padding-left: 105px;
        }

        .home-page__about-2-btn { 
          grid-area: 3 / 1 / 4 / 2; 
          width: 206px;
          height: 50px;
          background: #fff;
          font-family: open-sans, sans-serif;
          font-size: 16px;
          border: 2px solid #b99867;
          justify-content: center;
          box-sizing: border-box;
          cursor: pointer;
          transition: .6s;
        }

        .home-page__about-2-btn:hover { 
          grid-area: 3 / 1 / 4 / 2; 
          background: #b99867;
          font-family: open-sans, sans-serif;
          font-size: 16px;
          color: #fff;
        } 
