.quick-view {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr) 3fr 2fr 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 0px;
}
  
  .quick-view__img { 
    grid-area: 1 / 1 / 7 / 2;
    width: 492px;
    /* background-size: contain; 
    padding-top: 0; */
  }

  .quick-view__merch { 
    grid-area: 1 / 2 / 2 / 3; 
  }

  .quick-view__price { 
    grid-area: 2 / 2 / 3 / 3; 
  }

  .quick-view__art { 
    grid-area: 3 / 2 / 4 / 3; 
  }

  .quick-view__amount { 
    grid-area: 4 / 2 / 5 / 3; 
  }

  .quick-view__btn {
     grid-area: 5 / 2 / 6 / 3; 
  }

  .diquick-view__link { 
    grid-area: 6 / 2 / 7 / 3; 
  }
