.nav__list {
  display: flex;
  width: 100%;
  position: absolute;
  margin-bottom: 6px;
  bottom: 0;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: baseline;
}