.cell__price {
  grid-area: 4 / 1 / 5 / 2;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  padding: 2px 0;
}

.cell__price-old {
  font-family: open-sans, sans-serif;
  font-size: 13px;
  color: #a6a6a6;
  margin: 0;
  text-decoration: line-through;
  padding-right: ;
}

.cell__price-now {
  font-family: open-sans, sans-serif;
  font-size: 13px;
  color: #a6a6a6;
  margin: 0;
}

.discount {
  text-decoration: line-through;
}
