.basket {
  width: 350px;
  height: 700px;
  position: relative;
 
}

.basket__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 2fr repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  position: absolute;
  background:burlywood;
  }
  
  .basket__name { 
    grid-area: 1 / 1 / 2 / 2; 
    background: blue;
  }
  .basket__item { 
    grid-area: 2 / 1 / 3 / 2; 
  }
  .basket__sum { 
    grid-area: 3 / 1 / 4 / 2; 
  }
  .basket__btn { 
    grid-area: 4 / 1 / 5 / 2; 
  }