.store {
  width: min-content;
  height: min-content;
  display: grid;
  grid-template-columns: repeat(3, 325px);
  grid-template-rows: repeat(3, 288px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  position: relative;
}
