.form__input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 3px 3px 3px 21px;
  background: #294057;
  border: none;
  outline: 0;
  font-family: open-sans, sans-serif;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
}

.form__input::placeholder {
  font-family: open-sans, sans-serif;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}