.store__item-1 { 
  grid-area: 1 / 1 / 2 / 2;
  padding: 17px;
}

.store__item-2 { 
  grid-area: 1 / 2 / 2 / 3;
  padding: 17px;
}

.store__item-3 { 
  grid-area: 1 / 3 / 2 / 4; 
  padding: 17px;
}

.store__item-4 { 
  grid-area: 2 / 1 / 3 / 2; 
  padding: 17px;
}

.store__item-5 {
   grid-area: 2 / 2 / 3 / 3;
   padding: 17px; 
}

.store__item-6 { 
  grid-area: 2 / 3 / 3 / 4;
  padding: 17px; 
}

.store__item-7 { 
  grid-area: 3 / 1 / 4 / 2;
  padding: 17px; 
}

.store__item-8 { 
  grid-area: 3 / 2 / 4 / 3;
  padding: 17px; 
}

.store__item-9 { 
  grid-area: 3 / 3 / 4 / 4;
  padding: 17px; 
}