.nav__link {
  font-family: open-sans, sans-serif;
  color: #294057;
  font-size: 14px;
  text-decoration: none;
  line-height: 25px;
}

.nav__link:active {
  color:#b99867;
}

.nav__link:hover {
  color:#b99867;
}
