.modal {
  position: fixed;
  top: 50px;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  /* overflow-y: auto; */
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-flow: column;
  justify-content: center; 
  align-items: center;
  z-index: 99;

  padding:30px 0;
}

.modal__wrap {
  flex-shrink: 0;
  flex-grow: 0;
  width: 100%;
  min-height: 100%;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.modal__window {
  background: rgb(226, 226, 226);
  flex-shrink: 0;
  flex-grow: 0;
  width: 940px;
  height: 600px;
  overflow: visible;
  opacity: 0;
  transition: transform 0.15s ease 0s, opacity 0.15s ease 0s;
  transform: scale(1);
}

.modal--active {
  visibility: visible;
}

.modal--active .modal__window {
  transform: scale(1);
  opacity: 1;
}

.modal__shadow{
  position: fixed;
  border:none;
  display: block;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: -98;
  opacity: 0;
  transition: opacity 0.15s ease;
  background-color: black;
}

.modal__shadow--show{
  pointer-events: auto;
  opacity: 0.6;
}
