.product {
  width: 1000px;
}

.product {
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  grid-template-rows:  30px 50px 20px 30px 140px repeat(2, 100px) 50px;
  grid-column-gap: 40px;
  padding-top: 100px;
}
  
.product__page_path { 
  grid-area: 1 / 1 / 2 / 2; 
}
    .product__page_path-1 {
      text-decoration: none;
      font-family: open-sans, sans-serif;
      font-size: 15px;
      color: #2f2e2e;
    }

    .product__page_path-2 {
      text-decoration: none;
      font-family: open-sans, sans-serif;
      font-size: 15px;
      color: #2f2e2e;
      opacity: .6;
    }

.product__nav { 
  grid-area: 1 / 2 / 2 / 3; 
  text-align: right;
  right: 0;
}

    .product__nav-prev {
      font-family: open-sans, sans-serif;
      font-size: 15px;
      color: #2f2e2e;
      padding-right: 10px;
      text-decoration: none;
    }

    .product__nav-next {
      font-family: open-sans, sans-serif;
      font-size: 15px;
      color: #2f2e2e;
      border-left: 1px solid#2f2e2e;
      padding-left: 10px;
      text-decoration: none;
    }

.product__img { 
  grid-area: 2 / 1 / 9 / 2; 
}

.product__merch { 
  grid-area: 2 / 2 / 3 / 3; 
  font-family: open-sans, sans-serif;
  font-size: 30px;
  color: #294057;
}

.product__art { 
  grid-area: 3 / 2 / 4 / 3; 
  margin: 0;
  font-family: open-sans, sans-serif;
  font-size: 12px;
  color: #605E5E;
}

.product__price { 
  grid-area: 4 / 2 / 5 / 3; 
  font-family: open-sans, sans-serif;
  font-size: 19px;
  color: #A6A6A6;
}

.product__desc { 
  grid-area: 5 / 2 / 6 / 3; 
  font-family: open-sans, sans-serif;
  font-size: 15px;
  color: #605e5e;
}

.product__amount { 
  grid-area: 6 / 2 / 7 / 3; 
}

.product__amount_label {
  font-family: open-sans, sans-serif;
  font-size: 14px;
  color: #2f2e2e;
  margin-bottom: 8px;
}

.product__amount_input {
  width: 76px;
  height: 40px;
  border: none;
  padding: 1px 28px 1px 14px;
  border: 1px solid #c9c9c9;
  box-sizing: border-box;
  border-radius: 0;
  outline: none;
  color: #575757;;
}
.product__amount_spinner-arrows {
  position: absolute;
  opacity: 0;
  top: 10%;
  height: 80%;
  transition: 0.3s ease-in-out;
  right: 5px;
}


.product__amount_up-arrow {
  background-image: url("/public/assets/images/up.png");
  line-height: 1.5px;
  display: block;
  cursor: pointer;
  width: 16px;
  height: 50%;
  background: transparent no-repeat top center;
  box-sizing: border-box;
}

.product__amount_down-arrow {
  background-image: url("/public/assets/images/down.png");
  background-position: bottom center;
  line-height: 1.5px;
  display: block;
  cursor: pointer;
  width: 16px;
  height: 50%;
  background: transparent no-repeat top center;
  box-sizing: border-box;
}

.product__btn { 
  grid-area: 7 / 2 / 8 / 3; 
  width: 280px;
  height: 40px;
  border: none;
  font-family: open-sans, sans-serif;
  font-size: 16px;
  color: #fff;
  background: #b99867;
  transition: .5s;
}
.product__btn:hover {
  opacity: .6;
}

.product__icon {
  grid-area: 8 / 2 / 9 / 3;
}

.product__social_btn {
  border: none;
  background: #fff;
}

.product__social_svg-2 {
  color:#3a5897;
}

.product__social_svg-3 {
  color:#2fc7f2;
}

.product__social_svg-4 {
  color: #f01951;
}
.information {
  width: 900px;
  display: grid;
  grid-template-columns: 450px 450px;
  grid-template-rows:  1fr;
  /* grid-column-gap: 40px; */
  padding: 30px 0;
}

.information__about { 
  width: 450px;
  height: 236px;
  padding-right: 30px;
  box-sizing: border-box;
}

.information__policy { 
  width: 450px;
  height: 236px;
  padding: 10px 0 10px 30px;
  border-left: 1px solid #c2bfbf ;
  box-sizing: border-box;
}

.information__head {
  font-family: open-sans, sans-serif;
  font-size: 18px;
  color: #294057;
  font-weight: 400;
}

.information__text {
  font-family: open-sans, sans-serif;
  font-size: 15px;
  color: #605e5e;
}

