.cell__btn {
  /* visibility: hidden; */
  grid-area: 2 / 1 / 3 / 2;
  position: relative;
  top: 100%;
  width: 100%;
  height: 50px;
  background: #b99867;
  font-family: open-sans, sans-serif;
  font-size: 14px;
  color: #fff;
  opacity: .7;
  padding: 0;
  margin: 0;
  border: none;
  transition-duration: 399ms;
  transition-property: transform;
  vertical-align: baseline;
}

.cell__btn:hover {
  /* visibility: visible; */
  transform: translate(0, -50px);
}