@font-face {
  font-weight: normal;
  font-family: lobster;
  font-style: normal;
  src: url("./lobster.ttf");
}

@font-face {
  font-weight: normal;
  font-family: open-sans;
  font-style: normal;
  src: url("./OpenSans.ttf");
}

@font-face {
  font-weight: normal;
  font-family: open-sans-italic;
  font-style: italic;
  src: url("./OpenSans-Italic.ttf");
}